.PrimaryMenu{
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    
.userPrimaryMenu{
   padding: 0px 0px;
}           

.PrimaryMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}    

.PrimaryMenu ul li{
    padding: 5px 10px;
    color: #8a8a8a;
}    

.PrimaryMenu ul li a{
    text-decoration: none;
    color: inherit;
}    
.PrimaryMenu ul li:hover{
    color: #141414;
    background: #eeeeee;
}    


.AppName{
    padding-left: 10px;
    padding-right: 15px ;
}    

.UserName{
    font-weight: bold;
    padding-right: 15px;
}    
.BaselineReleasePlan{
padding: 0px 5px;
}    

.BaselineReleasePlan span{
    padding-right: 10px;
}

*{
    /* border: 1px solid; */
}