#NavForm{
    display: flex;
    flex-direction: column;
    border: 1px solid #f0f0f0;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 1px 5px #cccccc;
}

#NavForm select, input[type="text"]{
    width: 190px
}

.FormItems{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.FormItems label{
    font-weight: bold;
    font-size: 12px;
}
#FormSubmit{
    width: 130px;
    margin: auto;
}

#Filter{
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;

}

