.MainContainer{
    font-size: 14px;
    display: flex;
}

.Navigator{
    width: 350px;
    border-right: 1px solid #cccccc;
    padding: 15px;
    display: flex;
    flex-flow: column;
}

#Navigator{
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.Container{
    width: 75%;
}
